@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
//Merienda
*{
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
body{
    width: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
}
header{
    width: 90%;
    z-index: 1;
    height: 7.5vh;
    display: flex;
    padding: 0% 5%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(15px) saturate(150%);
}
.logo{
    margin: 5%;
    z-index: 1;
    color: #fff;
    font-size: 1.8vw;
    user-select: none;
    font-family: Courgette;
}
.header__content{
    width: 60%;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}
nav{
    width: 60%;
    display: flex;
    color: #fff;
    font-weight: 700;
    font-family: Nunito;
    align-items: center;
    justify-content: space-between;
}
.nav__link{
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    color:rgba(255, 255, 255, 0.75);
}
.nav__link::after{
    width: 0;
    content: "";
    height: 0.2vh;
    display: block;
    transition: 0.5s;
    position: absolute;
    background-color: #ffffff;
}
.nav__link:hover{
    transform: scale(1.02);
    color:rgb(255, 255, 255);
}
.nav__link:hover:after, .nav__link:focus:after {
	width: 100%;
}
.nav__link-hover{
    transform: scale(1.02);
    color:rgb(255, 255, 255);
}
.nav__link-hover::after{
    width: 100%;
    content: "";
    height: 0.2vh;
    display: block;
    transition: 0.5s;
    position: absolute;
    background-color: #fff;
}
.socials{
    width: 25%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
}
.social{
    height: 26px;
}
main{
    width: 100%;
}
.screen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 90, 90);
}
.home{
    background-position: top;
    background-size: 100% 120%;
    background-image: url("../images/backgrounds/about.avif");
}
.technologies{
    background-position: center;
    background-size: 100% 120%;
    background-image: url("../images/backgrounds/technologies.avif");
}
.technologies__block{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.technology__icon{
    width: 90px;
    margin: 15px;
    padding: 5px;
    transition: 0.6s;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
.technology__icon:first-child{
    background-color: rgba(255, 255, 255, 0.225);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.technology__discription{
    width: 26%;
    padding: 2%;
    color: #fff;
    display: flex;
    margin-left: 5%;
    transition: 0.5s;
    font-size: 1.8vw;
    text-align: center;
    font-family: Neucha;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
    width: 4px;
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    transition: 0.5s;
    background: rgb(100, 100, 100);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
}
#canvas{
    width: 50%;
    height: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(15px) saturate(0%);
}
#canvas_img{
    display: none;
}