@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Montserrat:wght@200;400;600&display=swap");
/*///////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF4F4;
}

header {
  width: 80vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0vh 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav_link {
  color: #744343;
  text-decoration: none;
}

.contact_us {
  width: 80px;
  color: #fff;
  text-align: center;
  padding: 14px 24px;
  border-radius: 10px;
  background-color: #DD7979;
}

.overview_block {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: 100% 100%;
  background-image: url("../images/overview/overview_bg.png");
}

.overview_content {
  width: 56vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16vh 0vw;
  color: #DD7979;
  text-align: center;
  font-family: Inter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.overview_content_text {
  color: #744343;
  line-height: 28px;
}

.overview_btns {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6vh 0vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview_btn {
  font-size: 16px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding: 16px 40px;
  border-radius: 10px;
  border: #DD7979 2px solid;
}

.overview_btn:hover {
  color: #fff;
  background-color: #DD7979;
}

.overview_statistic_block {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #DD7979;
}

.overview_img {
  width: 60vw;
  -webkit-transform: translate(0%, -30%);
          transform: translate(0%, -30%);
}

.overview_statistic_content {
  width: 60vw;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(0%, -30%);
          transform: translate(0%, -30%);
}

.overview_statistic_section {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #744343;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview_statistic_value {
  margin: 5px;
  font-size: 40px;
}

/*///////////////////////////////////////////////////////////////////////////////*/
.home_block {
  width: 100vw;
  height: 350vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: 100% 100%;
  background-image: url("../images/layouts/layouts_bg.png");
}

.home_header {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  color: #DD7979;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layouts_list {
  width: 86%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.layout {
  width: 36vw;
  height: 40vh;
  border-radius: 15px;
  background-color: #fff;
}

.layout_name {
  margin: 20px;
  font-size: 20px;
  color: #744343;
  line-height: 48px;
  text-align: center;
  font-family: Inter;
}

.layout_img {
  margin: 0;
  width: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////*/
.portfolio_block {
  width: 100vw;
  height: 115vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0vw 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.portfolio_header {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
  color: #DD7979;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features_block {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature {
  width: 22%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  padding: 2vh 3vw;
  color: #744343;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px rgb(221, 221, 221);
          box-shadow: 0px 0px 10px rgb(221, 221, 221);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature1 {
  background-image: url("../images/features/feature1_bg.png");
}

.feature2 {
  background-image: url("../images/features/feature2_bg.png");
}

.feature3 {
  background-image: url("../images/features/feature3_bg.png");
}

.feature4 {
  background-image: url("../images/features/feature4_bg.png");
}

.feature5 {
  background-image: url("../images/features/feature5_bg.png");
}

.feature6 {
  background-image: url("../images/features/feature6_bg.png");
}

/*///////////////////////////////////////////////////////////////////////////////*/
.pages_block {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140vh;
  padding: 20vh 0vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100% 100%;
  background-image: url("../images/pages_bg.png");
}

.pages {
  width: 80vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20vh 0vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_30 {
  width: 32%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #744343;
  font-family: Inter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px rgb(221, 221, 221);
          box-shadow: 0px 0px 6px rgb(221, 221, 221);
}

.page_45 {
  width: 49%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #744343;
  font-family: Inter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px rgb(221, 221, 221);
          box-shadow: 0px 0px 6px rgb(221, 221, 221);
}

/*///////////////////////////////////////////////////////////////////////////////*/
.newsletter_block {
  height: 68vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0vh 0vw 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  background-image: url("../images/newsletter_bg.png");
}

.newsletter_header {
  color: #DD7979;
  text-align: center;
  font-family: Inter;
}

.newsletter_form {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
  font-family: Inter;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter_email_input {
  height: 60px;
  padding: 0vh 3vw;
  border-radius: 10px;
  border: 2px #FFBABA solid;
}

.newsletter_get_started {
  width: 100%;
  height: 60px;
  margin: 5% 0%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DD7979;
  border: 2px #DD7979 solid;
}

.newsletter_terms {
  width: 40vw;
  padding: 0vh 0vw 10vh;
  text-align: center;
  color: #744343;
}

.data_use_policy {
  color: #744343;
  text-decoration: none;
}

/*///////////////////////////////////////////////////////////////////////////////*/
footer {
  width: 80vw;
  height: 610px;
  padding: 0 10vw;
  background-size: 100% 100%;
  background-image: url("../images/footer_bg.png");
}

.footer_top_block {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
}

.socials {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  height: 20px;
}

.footer_middle_block {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
}

.footer_contact_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_contact_header {
  color: #fff;
  font-size: 2.7em;
  font-weight: 400;
  text-align: left;
  line-height: 48px;
  font-family: Inter;
  letter-spacing: 0em;
}

.footer_contact_text {
  color: #FFBABA;
  text-decoration: none;
}

.footer_nav {
  margin: 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_nav p {
  color: #fff;
  font-size: 18px;
}

.footer_nav_link {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  font-family: Montserrat;
}

.styles_block {
  margin: 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.styles_block p {
  font-size: 18px;
}

.selected_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected_style p {
  font-size: 14px;
}

.selected_style_img {
  margin: 0px 10px 5px 0px;
}

/*///////////////////////////////////////////////////////////////////////////////*/
h2 {
  width: 40vw;
  font-size: 3em;
  color: #744343;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
}

h3 {
  font-weight: 400;
}

::-webkit-input-placeholder {
  letter-spacing: 0.3em;
  font-family: Inter;
}

::-moz-placeholder {
  letter-spacing: 0.3em;
  font-family: Inter;
}

:-ms-input-placeholder {
  letter-spacing: 0.3em;
  font-family: Inter;
}

::-ms-input-placeholder {
  letter-spacing: 0.3em;
  font-family: Inter;
}

::placeholder {
  letter-spacing: 0.3em;
  font-family: Inter;
}

.block_header_text {
  margin: 10px;
  color: #DD7979;
  font-family: Inter;
  letter-spacing: 0.2em;
}

hr {
  height: 1px;
  border: none;
  background-color: #995858;
}

@media screen and (max-width: 1200px) {
  .overview_btns {
    width: 40vw;
  }

  h2 {
    width: 50vw;
  }
}
@media screen and (max-width: 1080px) {
  nav {
    width: 50%;
  }

  h2 {
    width: 60vw;
    font-size: 2.3em;
  }

  .newsletter_block {
    height: 90vh;
  }
}
@media screen and (max-width: 900px) {
  nav {
    width: 50%;
  }

  h2 {
    width: 70vw;
  }

  .overview_btns {
    width: 50vw;
    margin: 6vh 0vw;
  }

  .overview_block {
    height: 70vh;
    background-size: 200% 100%;
  }

  .overview_statistic_text {
    font-size: 0.8em;
  }

  .overview_statistic_block {
    height: 50vh;
  }

  .home_block {
    height: 160vh;
    padding: 0vh 0vw;
  }

  .layout {
    height: 20vh;
  }

  .portfolio_block {
    height: 90vh;
    padding: 0vh 0vw;
  }

  .portfolio_header {
    margin: 0vh;
  }

  .features_block {
    padding-top: 0vh;
  }

  .pages_block {
    height: 120vh;
    padding: 0vh 0vw;
  }

  .newsletter_block {
    height: 50vh;
  }

  .newsletter_form {
    width: 60vw;
  }

  .footer_contact_header {
    font-size: 1.7em;
  }

  footer {
    background-size: 200% 100%;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 0vh 5vw;
    width: 90vw;
  }

  .logo {
    width: 20vw;
  }

  .nav_link {
    font-size: 12px;
  }

  .contact_us {
    width: 10vw;
    font-size: 11px;
  }

  h2 {
    width: 70vw;
    font-size: 2em;
    color: #744343;
    font-weight: 400;
    font-family: Inter;
    text-align: center;
  }

  h3 {
    font-weight: 400;
  }

  ::-webkit-input-placeholder {
    letter-spacing: 0.3em;
    font-family: Inter;
  }

  ::-moz-placeholder {
    letter-spacing: 0.3em;
    font-family: Inter;
  }

  :-ms-input-placeholder {
    letter-spacing: 0.3em;
    font-family: Inter;
  }

  ::-ms-input-placeholder {
    letter-spacing: 0.3em;
    font-family: Inter;
  }

  ::placeholder {
    letter-spacing: 0.3em;
    font-family: Inter;
  }

  .block_header_text {
    margin: 10px;
    font-size: 11px;
    color: #DD7979;
    font-family: Inter;
    letter-spacing: 0.2em;
  }

  p {
    font-size: 10px;
  }

  .overview_content_text {
    line-height: 16px;
  }

  .overview_btns {
    width: 50vw;
  }

  .overview_btn {
    font-size: 12px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    padding: 10px 20px;
    border-radius: 10px;
    border: #DD7979 2px solid;
  }

  .home_block {
    height: 200vh;
    padding: 0vh 0vw;
  }

  .layout {
    height: 20vh;
  }

  .feature {
    height: 20vh;
  }

  .page_30 {
    font-size: 12px;
  }

  .page_45 {
    font-size: 12px;
  }

  .newsletter_block {
    height: 70vh;
  }

  .newsletter_form {
    width: 60vw;
  }

  .footer_contact_header {
    margin: 14px;
    font-size: 1em;
    line-height: 20px;
  }

  .footer_contact_text {
    font-size: 12px;
  }

  .footer_nav {
    height: 70%;
    margin: 10px;
    padding: 0vh 1vw;
    border-left: 1px #fff solid;
  }

  .footer_nav_link {
    margin: 0;
    font-size: 9px;
  }

  .styles_block {
    width: 40%;
    height: 70%;
    font-size: 9px;
    padding: 0vh 1vw;
    margin: 14px 10px;
    border-left: 1px #fff solid;
  }

  .selected_style p {
    font-size: 9px;
  }

  .selected_style img {
    height: 40px;
  }
}