/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght3500&display=swap');

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 90%;
    height: 80px;
    display: flex;
    align-self: center;
    align-items: center;
    font-family: Quicksand;
    justify-content: center;
    background-color: #ffffff;
}

.navigation_links {
    margin-right: auto;
}

.nav_link {
    margin: 0px 15px;
    color: #697CA6;
    user-select: none;
    text-decoration: none;
}

.nav_link:hover {
    color: #5E81FE;
}

.logo {
    vertical-align: top;
    margin: 0px 25px 0px 0px;
}

.social {
    margin: 0px 20px;
    user-select: none;
}

.header_btn {
    top: -2px;
    border: none;
    margin: 20px;
    color: #3A79FF;
    padding: 10px 20px;
    position: relative;
    background: #D2E1FF;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plan_your_life {
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: 100% 100%;
    background-image: url(../Images/plan_your_life/background.png);
}

.plan_your_life_text_block {
    width: 520px;
    display: flex;
    color: #3D4F9F;
    margin: 70px 0px;
    text-align: center;
    align-items: center;
    font-family: Quicksand;
    flex-direction: column;
}

.play_btn {
    bottom: 30px;
    width: 200px;
    position: relative;
}

.company_logos {
    width: 60%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_image_btn{
    right: 200px;
    bottom: 58px;
    position: relative;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.desktop_and_mobile_apps_block {
    width: 100%;
    height: 780px;
    display: flex;
    align-items: center;
    background: #F5F8FF;
    justify-content: center;
}

.desktop_and_mobile_apps {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop_and_mobile_apps_text_block {
    width: 100%;
    display: flex;
    color: #3D4F9F;
    font-family: Quicksand;
    flex-direction: column;
}

.desktop_and_mobile_app_btn_block {
    display: flex;
    margin: 30px 0px;
}

.desktop_and_mobile_app_btn {
    width: 130px;
    height: 40px;
    color: #ADB4D2;
    border-radius: 4px;
    border: 1px solid #ADB4D2;
    background: rgba(0, 0, 0, 0);
}

.view_video_btn {
    color: white;
    background: #4C85FF;
    border: 1px solid #4C85FF;
}

.desktop_and_mobile_apps_img {
    top: 75px;
    width: 660px;
    position: relative;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.about_app_block {
    width: 100%;
    height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Images/about_app/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}

.about_app_header {
    font-size: 10px;
    color: #3D4F9F;
    margin-bottom: 50px;
}

.about_app {
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.about_app_branches {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.about_app_brench {
    width: 20%;
    text-align: center;
}

.about_app_btn_block {
    margin: 40px;
    display: flex;
    font-size: 14px;
}

.about_app_btn {
    border: none;
    font-size: 16px;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bolder;
    font-family: Quicksand;
    background-color: rgba(0, 0, 0, 0);
}

.about_app_btn_text {
    top: 5px;
    position: relative;
}

.read_more_btn {
    color: #D43F3F;
    background: #FFD7D7;
}

.get_started_btn {
    color: #3A79FF;
    background: #D2E1FF;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.users_statistics {
    width: 100%;
    height: 350px;
    display: flex;
}

.customers_increased {
    width: 100%;
    height: 350px;
    display: flex;
    color: #ffffff;
    background: #6888FF;
    font-family: Quicksand;
    justify-content: flex-end;
}

.customers_increased_content {
    width: 200px;
    margin: 80px;
    display: flex;
    text-align: right;
    font-weight: normal;
    align-items: flex-end;
    flex-direction: column;
}

.users_applications {
    width: 100%;
    height: 350px;
    display: flex;
    color: #5E80FF;
    background: #E9EFFF;
    font-family: Quicksand;
    justify-content: flex-start;
}

.users_applications_content {
    width: 200px;
    margin: 80px;
    display: flex;
    text-align: left;
    font-weight: normal;
    flex-direction: column;
    align-items: flex-start;
}

.statistics_image {
    width: 70px;
    height: 70px;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.blog {
    width: 100%;
    display: flex;
    height: 800px;
    background: #F5F8FF;
    flex-direction: column;
}

.blog_header {
    margin: 80px;
    font-size: 10px;
    color: #3D4F9F;
    text-align: center;
    font-family: Roboto;
}

.slider_item_image {
    width: 50%;
    height: 70%;
    margin: 50px;
    margin-top: 60px;
}

.slider_item_text {
    margin-top: 60px;
    text-align: left;
    color: #898989;
    margin-right: 50px;
    font-family: Roboto;
}

.blog_item_header {
    margin: 0;
    font-size: 32px;
    color: #3D4F9F;
    font-weight: 400;
    margin-bottom: 25px;
}

.read_blog_btn {
    margin: 0;
    border: none;
    height: 45px;
    width: 115px;
    font-size: 13px;
    margin-top: 50px;
    color: #3A79FF;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 4px;
    background: #D2E1FF;
    font-family: Quicksand;
}

.add_to_bookmarks_btn {
    margin: 0;
    border: none;
    height: 45px;
    font-size: 13px;
    color: #808080;
    font-weight: bold;
    border-radius: 4px;
    font-family: Quicksand;
    background: rgba(0, 0, 0, 0);
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.quotes {
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    background: #EAF0FF;
    justify-content: center;
}

.quotes_text {
    left: 15%;
    width: 28%;
    bottom: 3%;
    position: relative;
}

.quotes_h4 {
    font-family: Roboto;
    margin-bottom: 30px;
}

.quotes_header {
    color: #3D4F9F;
    font-weight: bold;
}

.customers_quotes {
    min-width: 40%;
    overflow-y: scroll;
}

.quotes_slider {
    display: flex;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
}

.quotes_slider_wrapper {
    width: 440px;
    height: 220px;
    display: flex;
    max-width: 440px;
    position: relative;
    background-color: #00000000;
}

.quotes_slider_item {
    height: 200px;
    display: flex;
    max-width: 48.9px;
    align-items: center;
    justify-content: center;
}

.customers_quote_block {
    width: 94%;
    height: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.customers_quote {
    width: 80%;
    font-size: 14px;
    color: #676F95;
    font-family: Roboto;
}

.customers_avatar {
    bottom: 0;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: absolute;
    transform: translate(0%, 30%);
}

.quotes_prev_btn {
    left: -60px;
    width: 60px;
    height: 100%;
    background: none;
    position: absolute;
}

.quotes_next_btn {
    width: 60px;
    right: -60px;
    height: 100%;
    background: none;
    position: absolute;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.faq {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq_header {
    font-size: 10px;
    color: #3D4F9F;
    text-align: center;
    font-family: Roboto;
    margin: 170px 0px 60px 0px;
}

.faq_content_block {
    width: 750px;
}

.collapse_element {
    width: 100%;
    height: 60px;
    user-select: none;
}

.collapse_arrow {
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s ease-in-out;  
}

.collapse_text{
    margin-left: 10px;
    color: #8E96B7;
    display: inline-block;
}

.faq_content{
    display: flex;
    max-height: 0px;
    overflow: hidden;
    align-items: center;
    transition: max-height 0.4s ease-in-out;  
}

.faq_content_text{
    width: 60%;
    margin: 12% 5%;
    color: #8D96BD;
    display: inline-block;
}

.faq_content_link{
    width: 20%;
    font-size: 13px;
    color: #7382A3;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Quicksand;
    background-color: #E8ECF4;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.get_started{
    width: 100%;
    height: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: url("../Images/get_started/get_started.png");
}

.get_started_text{
    width: 50%;
    margin: 90px 0px;
    color: #ffffff;
    text-align: center;
}

.get_started_discription{
    margin: 20px;
    font-size: 15px;
}

.get_started_btns{
    display: flex;
}

.view_pricing_btn{
    color: #565F82;
    font-weight: bold;
    padding: 14px 18px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px #ffffff solid;
    background-color: #ffffff;
}

.read_documentation_btn{
    color: #C7D3FF;
    font-weight: bold;
    padding: 14px 18px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px #ffffff solid;
    background-color: #ffffff00;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.newsletter{
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter_content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter_header{
    font-size: 18px;
    color: #3D4F9F;
    font-weight: bold;
}

.newsletter_text{
    width: 60%;
    font-size: 13px;
    color: #8D96BD;
    font-family: Roboto;
}

.newsletter_form{
    width: 600px;
    display: flex;
}

.newsletter_input{
    border: none;
    width: 200px;
    font-size: 13px;
    font-weight: bold;
    padding: 21px 23px;
    border-radius: 4px;
    font-family: Quicksand;
    background: #EFEFF7;
}

.newsletter_btn{
    border: none;
    width: 180px;
    font-size: 13px;
    color: #ffffff;
    margin-left: 15px;
    font-weight: bold;
    padding: 21px 23px;
    border-radius: 4px;
    background: #4D6CE1;
    font-family: Quicksand;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
    width: 80%;
    height: 290px;
    display: flex;
    align-self: center;
    align-items: center;
    font-family: Quicksand;
    justify-content: center;
    background-color: #ffffff;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


h1 {
    margin: 0;
    font-size: 43px;
    font-weight: 300;
}

h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}

h3 {
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: Quicksand;
}

h4 {
    color: #3D4F9F;
}

p {
    margin: 5px 0px;
}

.plan_your_life_p {
    width: 90%;
    align-self: center;
}

hr{
    color: #000000;
}

.hr100{
    width: 100%;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/