@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #141414;
}
header{
    width: 95%;
    height: 8vh;
    display: flex;
    margin-left: auto;
    position: relative;
    background-color: #141414;
}
.header-logo{
    left: -1px;
    z-index: 1;
    height: 200%;
    position: absolute;
}
nav{
    width: 40%;
    height: 100%;
    display: flex;
    margin-right: 5%;
    margin-left: auto;
    letter-spacing: 2px;
    align-items: center;
    justify-content: space-around;
}
nav a{
    color: #fff;
    font-size: 0.9vw;
    text-decoration: none;
    font-family: Open Sans;
} 
.screen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: #fff;
}
.home{
    width: 95%;
    height: 92vh;
    overflow: hidden;
    margin-left: auto;
}
.home-slider{
    height: 90%;
    margin-left: 0;
    max-width: 80%;
    background-color: #fff;
}
.home-content{
    top: 25%;
    right: 7%;
    z-index: 1;
    width: 26%;
    height: 36%; 
    padding: 3%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.home-content__header{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-p{
    color: #99823D;
    font-size: 1.05vw;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-family: Open Sans;
}
.home-content__header h2{
    font-size: 4vw;
    line-height: 3.8vw;
}
.home-content__content{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.home-content__content p{
    font-size: 1.05vw;
    font-family: Open Sans;
}
.home-content__content-btns{
    width: 100%;
    height: 50%;
    color: #fff;
    display: flex;
    font-size: 1vw;
    letter-spacing: 2px;
    font-family: Open Sans;
    justify-content: space-between;
}
.home-content__explore-btn{
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99823D;
}
.home-content__chat-btn{
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #141414;
}
.home__socials-block{
    width: 80%;
    height: 10%;
    position: relative;
    background-color: #EBEBEB;
}
.home__socials{
    left: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    position: absolute;
    letter-spacing: 2px;
    align-items: center;
    justify-content: space-around;
}
.home__social{
    color: #000;
    font-size: 0.9vw;
    text-decoration: none;
    font-family: Open Sans;
}
.about-screen{
    background-color: #EBEBEB;
}
.about{
    width: 86%;
    height: 74%;
    background-color: #EBEBEB;
}
.about__content{
    width: 100%;
    height: 75%;
    display: flex;
}
.about__main-content{
    width: 65%;
    background-color: #EBEBEB;
}
.about__content-header{
    height: 40%;
}
.about__content-header h3{
    font-size: 4vw;
    line-height: 3.8vw;
}
.about__content-text{
    width: 80%;
    font-size: 1.3vw;
}
.about__news{
    width: 35%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: #EBEBEB;
}
.about__news-element{
    display: flex;
    flex: 0 0 50%;
    max-height: 50%;
    flex-direction: column;
    justify-content: center;
}
.about__news-header{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.about__news-header p{
    font-size: 1vw;
    color: #99823D;
    margin-right: 5%;
    letter-spacing: 2px;
    font-family: Open Sans;
}
.about__news-content{
    width: 80%;
    font-size: 2.4vw;
    font-weight: 400;
    font-family: Teko;
}
.about__stats{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__stat-element{
    width: 16%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about__stat-element h3{
    font-size: 5vw;
    font-weight: 600;
}
.about__stat-element p{
    color: #99823D;
    font-size: 1.05vw;
    letter-spacing: 2px;
    font-family: Open Sans;
}
.square-separator{
    width: 9px;
    height: 9px;
    background-color: #99823D;
}
.houses-screen{
    height: 80vh;
    background: linear-gradient(to bottom, #EBEBEB 50%, #fff 50%);
}
.houses{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.house-block{
    width: 32%;
    height: 70%;
    overflow: hidden;
    position: relative;
}
.house-block__actuality{
    top: 0;
    left: 0;
    width: 25%;
    z-index: 2;
    height: 12%;
    color: #fff;
    display: flex;
    font-size: 1vw;
    position: absolute;
    align-items: center;
    letter-spacing: 2px;
    font-family: Open Sans;
    justify-content: center;
    background-color: #000;
}
.house-block img{
    min-width: 100%;
    min-height: 90%;
    max-height: 100%;
}
.house-block__section{
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 2;
    height: 32%;
    color: #fff;
    display: flex;
    font-size: 1vw;
    line-height: 300%;
    position: absolute;
    letter-spacing: 2px;
    font-family: Open Sans;
    justify-content: center;
    background-color: #99823D;
}
.house-block__name{
    left: 0;
    bottom: 0;
    width: 90%;
    z-index: 3;
    height: 20%;
    color: #fff;
    display: flex;
    font-size: 2vw;
    font-weight: 300;
    font-family: Teko;
    position: absolute;
    justify-content: center;
    background-color: #000;
}
.services-screen{
    padding: 0 0 10vh;
}
.services{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.services__header{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.services__header h2{
    line-height: 2.9vw;
    font-size: 3.2vw;
    font-weight: 600;
    text-align: center;
}
.services__content{
    width: 100%;
    height: 60%;
    padding: 6% 0% 4%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.service{
    width: 28%;
    height: 46%;
}
.service__header{
    height: 40%;
    display: flex;
}
.service__header img{
    margin-right: 5%;
}
.service__header-text h4{
    font-size: 2vw;
}
.service__content{
    font-size: 1.2vw;
}
.service__content{
    height: 60%;
    display: flex;
    align-items: center;
    font-family: Open Sans;
    justify-content: center;
}
.services__see-btn{
    width: 30%;
    height: 10%;
    color: #fff;
    display: flex;
    font-size: 1vw;
    font-weight: 400;
    align-items: center;
    letter-spacing: 2px;
    font-family: Open Sans;
    justify-content: center;
    background-color: #99823D;
}
.companies-screen{
    width: 100%;
    height: 20vh;
}
.companies{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-logo{
    width: 16%;
}
footer{
    height: 50vh;
    display: flex;
    padding-top: 20vh;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #EBEBEB;
    background: linear-gradient(to bottom, #EBEBEB 50%, #141414 50%);
}
.footer-nav{
    top: 50%;
    width: 80%;
    height: 15%;
    padding: 0 5%;
    display: flex;
    position: absolute;
    align-items: center;
    padding-bottom: 5%;
    transform: translateY(-100%);
    background-color: #3D3D3D;
}
.newsletter{
    top: 50%;
    z-index: 1;
    width: 70%;
    height: 10%;
    padding: 5%;
    position: absolute;
    transform: translateY(-40%);
    background-color: #99823D;
}
.newsletter__form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.newsletter__input{
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 5%;
    color: #000;
    font-size: 1.1vw;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-family: Open Sans;
}
.newsletter__btn{
    width: 18%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 0.8vw;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-family: Open Sans;
    background-color: #141414;
}
h1, h2, h3, h4{
    font-weight: 400;
    font-family: Teko;
}
::placeholder{
    color: #000;
    font-size: 1vw;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-family: Open Sans;
}
::-webkit-scrollbar{
    width: 4px;
    background: rgb(177, 177, 177);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}
@media (max-width: 1024px){
    .houses-screen{
        height: 50vh;  
    }
    .house-block{
        height: 90%;
    }
    .about__news-header p, .about__content-text p, .service__content, .home-content__content p{
        font-size: 1.4vw;
    }
    .service__header-text h4, .house-block__name, .about__news-content{
        font-size: 2.4vw;
    }
    .home-content__content{
        height: 45%;
    }
}