@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('http://fonts.cdnfonts.com/css/brandon-grotesque-black');
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html,body{
    margin: 0;
    min-height: 100%;
}
body{
    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
}
header{
    width: 1170px;
    height: 93px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.logo{
    margin-right: auto;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
main{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.form_block{
    width: 100%;
    height: 590px;
    color: rgb(215, 215, 215);
    background-color: #7e9bc7;
}
.input_block{
    width: 14%;
    height: 45px;
    overflow: hidden;
    text-align: left;
    margin: 20px 5px;
    border-radius: 2px;
    vertical-align: top;
    align-items: center;
    display: inline-flex;
    background: #ffffff;
}
.input_icon{
    height: 18px;
    margin: 0px 10px;
}
.user_data_input{
    padding: 0;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
.send_request{
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    background: #eeba4d;
    color:rgb(255, 255, 255);
}
.laptop{
    margin: 100px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.services{
    width: 1170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 150px 50px 100px;
}
.services_block{
    margin: 75px;
    display: grid;
    height: 420px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
.service_block{
    display: flex;
    margin: 20px 30px;
}
.service_icon_block{
    width: 45px;
    margin: 0px 40px;
    justify-content: center;
}
.service_header{
    font-size: 20px;
    font-family: Lato;
    margin: 0px 0px 5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.service_text_block{
    width: 500px;
    text-align: left;
    margin-left: auto;
    display: inline-flex;
    flex-direction: column;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.about_us{
    display: flex;
}
.about_us_img{
    width: 50%;
}
.about_us_text_block{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255); 
    background-color: #eeba4d;
}
.about_us_text{
    width: 70%;
    display: flex;
    text-align: left;
    flex-direction: column;
}
.read_more_about{
    width: 140px;
    height: 40px;
    margin: 20px 0px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    border: solid 1px rgb(134, 134, 134);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.pricelist{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    background: #e8edf2;
    flex-direction: column;
    color: rgb(36, 36, 36);
}
.price_text{
    margin: 100px 0px 50px;
}
.prices_block{
    display: flex;
    align-items: center;
    justify-items: center;
}
.side_price_block{
    width: 390px;
    height: 440px;
    display: flex;
    color: black;
    color: #b5b9bf;
    align-items: center;
    justify-items: center;
    background: #ffffff;
    justify-content: center;
}
.middle_price_block{
    width: 390px;
    height: 500px;
    display: flex;
    color: #ffffff;
    color: #cae0fe;
    align-items: center;
    justify-items: center;
    background: #7e9bc7;
    justify-content: center;
}
.price_content_block{
    width: 300px;
    height: 340px;
    text-align: center;
}
.plan_name{
    font-size: 26px;
}
.middle_plan_price{
    margin: 0;
    color: #fff;
    font-size: 50px;
}
.side_plan_price{
    margin: 0;
    font-size: 50px;
    color: #eeba4d;
}
.plan_price_time{
    margin: 0;
}
.plan_start_btn{
    width: 140px;
    height: 40px;
    border: none;
    font-size: 16px;
    margin: 40px 0px;
    color: #ffffff;
    font-family: Lato;
    border-radius: 2px;
    background: #eeba4d;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.how_it_works_block{
    margin: 0px 0px 100px;
}
.how_it_works_header{
    margin: 100px 0px 150px;
}
.how_it_works_steps{
    width: 1170px;
    display: grid;
    grid-template-rows: 270px 40px;
    grid-template-columns: repeat(4, 1fr);
}
.step{
    height: 270px;
    display: flex;
    grid-row: 1/2;
    align-items: center;
    flex-direction: column;
}
.step_img{
    height: 60px;
}
.arrow_img{
    height: 36px;
    position: absolute;
}
.side_arrow{
    transform: translate(100%, -100%);
}
.middle_arrow{
    transform: translate(100%, 200%) rotate(180deg);
}
.step_text{
    width: 80%;
    color: #7b7b7b;
    margin: 50px 0px;
}
.step_btn_block{
    grid-column: 1/5;
    text-align: center;
}
.step_start_btn{
    width: 240px;
    height: 40px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-family: Lato;
    border-radius: 2px;
    background: #eeba4d;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.happy_clients_block{
    width: 100%;
    display: flex;
    height: 900px;
    align-items: center;
    background: #eeba4d;
    flex-direction: column;
}
.happy_clients_header{
    margin: 100px 0px 50px;
    color:rgb(255, 255, 255);
}
.happy_clients{
    width: 1170px;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.happy_client{ 
    width: 570px;
    height: 240px;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.client_avatar{
    width: 150px;
    height: 150px;
    margin: 30px 40px;
    border-radius: 50%;
}
.client_text{
    width: 290px;
    text-align: left;
}
.comment{
    font-size: 14px;
    margin-top: 40px;
    line-height: 21px;
    font-weight: bolder;
}
.comment::before{
    content: ",,";
    font-size: 30px;
    position: absolute;
    font-family: 'Brandon Grotesque';
    transform: translate(-120%, 0%) rotate(180deg);
}
.comment::after{
    content: ",,";
    font-size: 30px;
    position: absolute;
    font-family: 'Brandon Grotesque';
    transform: translate(50%, 0%);
}
.client_info{
    font-size: 12px;
    font-family: Lato;
}
.client_name{
    color: rgb(255, 94, 0);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.newsletter_block{
    width: 100%;
    display: flex;
    height: 900px;
    align-items: center;
    flex-direction: column;
}
.newsletter_header{
    margin: 100px 0px 50px;
}
.newsletter_form_block{
    width: 1170px;
}
.newsletter_input_block{
    height: 45px;
    overflow: hidden;
    text-align: left;
    margin: 20px 5px;
    border-radius: 2px;
    vertical-align: top;
    align-items: center;
    display: inline-flex;
    background: #ffffff;
    border: 1px solid rgba(85, 85, 85, 0.769);
}
.side_newsletter_input_block{
    width: 30%;
}
.middle_newsletter_input_block{
    width: 35%;
}
.newsletter_button{
    width: 30%;
    height: 45px;
    border: none;
    font-size: 16px;
    margin: 20px 5px;
    border-radius: 2px;
    background: #eeba4d;
    color:rgb(255, 255, 255);
}
.newsletter_address_block{
    width: 1170px;
    height: 570px;
    display: flex;
    margin: 50px 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url(../Images/Map.png);
}
.address_block{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(152, 152, 152);
    background: url(../Images/Address.png);
    background-position: center;
    background-repeat: no-repeat;
}
.address_mail{
    color: #eeba4d;
}
.newsletter_logo{
    width: 50px;
    height: 50px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_links_block{
    margin: 50px 0px 20px;
}
.call_block{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.footer_phone{
    width: 30px;
    height: 30px;
    margin: 2px 10px;
}
.socials_block{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a{
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(58, 58, 58);
}
p{
    margin: 5px 0px;
    font-family: "Open Sans";
}
h1{
    margin: 0px;
    font-style: bold;
    font-family: gotham;
    color: rgb(255, 255, 255);
}
h2{
    margin: 0px;
    font-size: 32px;
    font-weight: bolder;
    font-family: "Gotham black";
}
h3{
    font-size: 25px;
    font-family: Lato;
    margin: 0px 0px 5px;
    font-weight: lighter;
}
h4{
    margin: 0;
    color: #ffffff;
    font-weight: 100;
    font-weight: lighter;
}
h5{
    font-size: 16px;
    margin: 12px 0px;
    font-family: Lato;
    font-weight: lighter;
}
h6{
    font-size: 18px;
    margin: 7px 0px;
    font-family: Lato;
    font-weight: bolder;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/